{% extends "bootstrap/base.html" %}
{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ background_image }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1 style="color: {{navbar}}">{{ heading }}</h1>
                    <span class="subheading" style="color: {{navbar}}">{{ subheading }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>{{ content|safe() }}</p>
        </div>
    </div>
    <hr>
</div>

{% include "footer.html" %}

{% endblock %}