{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block content %}
{% include "header.html" %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({{ background_image }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1 style="color: {{navbar}}">{{ config_title }}</h1>
                    <span class="subheading" style="color: {{navbar}}">{{ config_desc }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style="line-height: 2.5;">
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert" style="margin-bottom: 50px;">
                <center>
                    <strong>{{ message }}</strong>
                </center>
            </div>
            {% endfor %}
            {% endwith %}
            {% if config_func == 'newsletter.subscribe' %}
            <p>Dissatisfied with our newsletter? <a href="{{ url_for('newsletter.unsubscribe') }}"
                                                    style="text-decoration: None;">Unsubscribe</a></p>
            {% endif %}
            {% if config_func == 'website_settings.web_configuration' %}
            <p><strong>To remove social icons, leave them blank.</strong></p>
            {% endif %}
            {% if config_func == 'comment.edit_comment' %}
            <form action="{{ url_for(config_func, comment_id=comment_id) }}" method="post" novalidate>
                {% elif config_func == 'reply.edit_reply' %}
                <form action="{{ url_for(config_func, reply_id=reply_id) }}" method="post" novalidate>
                    {% else %}
                    <form action="{{ url_for(config_func) }}" method="post" novalidate>
                        {% endif %}
                        {% if config_func == 'website_settings.api_configuration' %}
                        <p><strong>Select the allowed routes:</strong></p>
                        {% endif %}
                        {% if invalid != True %}
                        {{ ckeditor.load() }}
                        {{ wtf.quick_form(form=form, button_map={"submit": "primary"}) }}
                        {% else %}
                        <div class="alert alert-danger" role="alert">
                            <center>
                                <strong>This newsletter has no subscribers, newsletters cannot be sent.</strong>
                            </center>
                        </div>
                        {% endif %}
                    </form>
        </div>
    </div>
    <hr style="margin-top: 40px; ">
</div>

{% include "footer.html" %}
{% endblock %}