<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    {% for social_link in social %}
                    {% if "https://" in social[social_link] %}
                    <li class="list-inline-item">
                        <a href="{{social[social_link]}}">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-{{social_link}} fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <p class="copyright text-muted">{{ year }} &copy; {{ name }}</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Custom scripts for this template -->

</body>

</html>
