{% extends "bootstrap/base.html" %}
{% block content %}
{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<header class="masthead" style="background-image: url({{ background_image }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1 style="color: {{navbar}}">{{ error }}</h1>
                    <span style="color: {{navbar}}" class="subheading">{{ error_description }}</span>
                    <span style="color: {{navbar}}" class="subheading"><a href="{{ url_for('home.home_page') }}">Click here</a> to return to the home page</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% include "footer.html" %}
{% endblock %}