{% extends "bootstrap/base.html" %}
{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url({{ background_image }})">
    <!--        style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">-->
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 style="color: {{navbar}}">{{ title }}</h1>
                    <span class="subheading" style="color: {{navbar}}">{{ subtitle }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
{% set hr_valid = False %}
{% set valid = True %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            {% if category == 'danger' %}
            <div class="alert alert-danger" role="alert" style="margin-bottom: 50px;">
                {% else %}
                <div class="alert alert-success" role="alert" style="margin-bottom: 50px;">
                    {% endif %}
                    <center>
                        <strong>{{ message }}</strong>
                    </center>
                </div>
                {% endfor %}
                {% endwith %}
                {% if newsletter_table != "True" %}
                {% if logs != "True" %}
                {% if user_table != "True" %}
                {% if mode != 'users' %}
                {% if deleted != "True" %}
                {% if settings != "True" %}
                {% if posts_count != 0 %}
                {% for post in all_posts %}
                <div class="post-preview">
                    <a href="{{ url_for('post.show_post', post_id=post.id) }}">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.subtitle}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="{{ url_for('user_operations.user_page', user_id=post.author.id) }}">{{post.author.name}}</a>
                        on {{post.date}}
                </div>
                <hr>
                {% endfor %}
                {% else %}
                {% set valid = False %}
                {% for i in range(3): %}
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            Nothing to show here.
                        </h2>
                        <h3 class="post-subtitle">
                            Looks like there's nothing here.
                        </h3>
                    </a>
                    <p class="post-meta">
                        <a href="#">You've reached a dead end, my friend.</a>
                    </p>
                </div>
                <hr>
                {% endfor %}
                {% endif %}
                {% else %}
                {% for error_name, error in errors.items() %}
                <div class="alert alert-danger" role="alert" style="margin-bottom: 50px;">
                    <center>
                        <strong>{{ error_name }}</strong> | {{ error }}
                    </center>
                </div>
                {% endfor %}
                {% if posts_count != 0 %}
                {% for option in options %}
                <div class="post-preview">
                    <a href="{{ url_for(option['func']) }}">
                        <h2 class="post-title">
                            {{ option["name"] }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ option["desc"] }}
                        </h3>
                    </a>
                    <p class="post-meta">
                        <a href="#"></a>
                    </p>
                </div>
                <hr>
                {% endfor %}
                {% else %}
                {% for i in range(3) %}
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            Nothing to show here.
                        </h2>
                        <h3 class="post-subtitle">
                            Looks like there's nothing here.
                        </h3>
                    </a>
                    <p class="post-meta">
                        <a href="#">You've reached a dead end, my friend.</a>
                    </p>
                </div>
                <hr>
                {% endfor %}
                {% endif %}
                {% endif %}
                {% else %}
                {% if posts_count != 0 %}
                {% for post in deleted_posts %}
                <div class="post-preview">
                    <a href="{{ url_for('post.show_post', post_id=post[0], deleted=True) }}">
                        <h2 class="post-title">
                            {{post[1]["post_title"]}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post[1]["subtitle"]}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="{{ url_for('user_operations.user_page', user_id=post[1]['author_id']) }}">{{post[1]["author"]}}</a>
                        on {{post[1]["date"]}}
                </div>
                <hr>
                {% endfor %}
                {% else %}
                {% set valid = False %}
                {% for i in range(3): %}
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            Nothing to show here.
                        </h2>
                        <h3 class="post-subtitle">
                            Looks like there's nothing here.
                        </h3>
                    </a>
                    <p class="post-meta">
                        <a href="#">You've reached a dead end, my friend.</a>
                    </p>
                    <hr>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                    {% else %}
                    {% if posts_count != 0 %}
                    {% for user in results %}
                    <div class="post-preview">
                        <a href="{{ url_for('user_operations.user_page', user_id=user.id) }}">
                            <h2 class="post-title">
                                {{user.name}}
                            </h2>
                        </a>
                        <span class="post-meta">
                        Joined {{ user.join_date }}
                    </span>
                        <p class="post-meta" style="margin-top: 15px;">
                            {% set taken = False %}
                            {% if user.admin == True %}Website Administrator {% set taken = True %}{% endif %}
                            {% if taken == False and user.author == True %}Author{% endif %}
                        </p>
                    </div>
                    <hr>
                    {% endfor %}
                    {% else %}
                    {% set valid = False %}
                    {% for i in range(3): %}
                    <div class="post-preview">
                        <a href="#">
                            <h2 class="post-title">
                                Nothing to show here.
                            </h2>
                            <h3 class="post-subtitle">
                                Looks like there's nothing here.
                            </h3>
                        </a>
                        <p class="post-meta">
                            <a href="#">You've reached a dead end, my friend.</a>
                        </p>
                        <hr>
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                        {% else %}
                        {% if posts_count != 0 %}
                        {% for user in users %}
                        <div class="post-preview">
                            <a href="{{ url_for('user_operations.user_page', user_id=user['id']) }}">
                                <h2 class="post-title">
                                    {{user["username"]}}
                                </h2>
                                <h3 class="post-subtitle">
                                    {% if user["permissions"] != None %}
                                    Number of Posts: {{user["posts"]|length}}
                                    {% endif %}
                                </h3>
                            </a>
                            <p class="post-meta" style="margin-top: 30px;">Permissions:{% if user["permissions"] != None
                                %}
                                {{user["permissions"]}}
                                {% else %} Unconfirmed User{% endif %}
                            </p>
                            {% if user["is_developer"] == True %}
                            <p class="post-meta">
                                <a href="{{ url_for('user_operations.user_page', user_id=user['id'], current_mode='api') }}"
                                   style="text-decoration: none;">Developer
                                    Account</a>
                            </p>
                            {% endif %}
                            {% if user["pending_deletion"] == True %}
                            <p class="post-meta">
                                <a href="{{ url_for('user_operations.user_page', user_id=user['id'], current_mode='delete-report') }}"
                                   style="text-decoration: none;">Pending Deletion Request</a>
                            </p>
                            {% endif %}
                            <p class="post-meta">
                                Email address: {{user["email"]}}
                            </p>
                            {% if user["permissions"] != None %}
                            <p class="post-meta">
                                Joined on: {{user["joined_on"]}}
                            </p>
                            {% endif %}
                        </div>
                        <hr>
                        {% endfor %}
                        {% else %}
                        {% for i in range(3): %}
                        <div class="post-preview">
                            <a href="#">
                                <h2 class="post-title">
                                    Nothing to show here.
                                </h2>
                                <h3 class="post-subtitle">
                                    Looks like there's nothing here.
                                </h3>
                            </a>
                            <p class="post-meta">
                                <a href="#">You've reached a dead end, my friend.</a>
                            </p>
                            <hr>
                            {% endfor %}
                            {% endif %}
                            {% endif %}
                            {% else %}
                            {% if posts_count != 0 %}
                            {% for log in log_items %}
                            <ul class="commentList" style="list-style-type: none; margin-top: 15px;">
                                <li>
                                    <div class="commenterImage">
                                        <img src="{{ log.user_email | gravatar }}"
                                             style="border-radius: 100px;"/>
                                    </div>
                                    <div>

                                <span class="date sub-text" style="margin-left: 10px; font-size: 15px; color: #025955;">{% if log.user != None %}<a
                                        href="{{ url_for('user_operations.user_page', user_id=log.user_id) }}"
                                        style="text-decoration: none;">{{ log.user_name }}</a>{% else %}{{ log.user_name }} (Deleted User) {% endif %} | {{ log.date }}</span>
                                        <span style="margin-left: 20px;"><br><br>{{ log.description|safe() }}<br><br></span>
                                    </div>
                                </li>
                            </ul>
                            <hr style="margin: 20px 0 10px 0;">
                            {% endfor %}
                            {% else %}
                            {% set valid = False %}
                            {% for i in range(3): %}
                            <div class="post-preview">
                                <a href="#">
                                    <h2 class="post-title">
                                        Nothing to show here.
                                    </h2>
                                    <h3 class="post-subtitle">
                                        Looks like there's nothing here.
                                    </h3>
                                </a>
                                <p class="post-meta">
                                    <a href="#">You've reached a dead end, my friend.</a>
                                </p>
                            </div>
                            <hr>
                            {% endfor %}
                            {% endif %}
                            {% endif %}
                            {% else %}
                            {% if posts_count != 0 %}
                            {% for subscriber in subscribers %}
                            <div class="post-preview">
                                <a href="{% if not subscriber['signed_up'] %}#{% else %}{{ url_for('user_operations.user_page', user_id=subscriber['signed_up'].id) }}{% endif %}">
                                    <h2 class="post-title">
                                        {{subscriber['first_name']}} {{subscriber['last_name']}}
                                    </h2>
                                    <h3 class="post-subtitle" style="margin-top: 30px;">

                                    </h3>
                                </a>
                                <p class="post-meta">
                                    Email Address: {{subscriber['email']}}
                                </p>
                                <p class="post-meta">
                                    Registered Blog User: {% if subscriber['signed_up'] %}True{% else %}False{% endif %}
                                </p>
                                <p class="post-meta">
                                    Subscribed on: {{subscriber['date']}}
                                </p>
                                {% if subscriber.active != True %}
                                <p>
                                    Unsubscription Reason: {{subscriber['unsubscription_date']}}
                                </p>
                                <p>
                                    Additional Unsubscription Info: {{subscriber['unsubscription_explanation']}}
                                </p>
                                <p>
                                    Unsubscribed on: {{subscriber['unsubscription_date']}}
                                </p>
                                {% endif %}
                            </div>
                            <hr>
                            {% endfor %}
                            {% else %}
                            {% set valid = False %}
                            {% for i in range(3): %}
                            <div class="post-preview">
                                <a href="#">
                                    <h2 class="post-title">
                                        Nothing to show here.
                                    </h2>
                                    <h3 class="post-subtitle">
                                        Looks like there's nothing here.
                                    </h3>
                                </a>
                                <p class="post-meta">
                                    <a href="#">You've reached a dead end, my friend.</a>
                                </p>
                            </div>
                            <hr>
                            {% endfor %}
                            {% endif %}
                            {% endif %}
                            <!-- New Post -->
                            <div class="clearfix">
                                {% if current_id == 1 %}
                                {% if deleted != "True" %}
                                {% if current_user.is_authenticated %}
                                {% if search != True %}
                                {% set hr_valid = True %}
                                {% if user_table != 'True' and logs != 'True' and newsletter_table != 'True' %}
                                {% if settings != "True" %}
                                <div class="dropdown">
                                    <button class="btn btn-primary float-left" data-toggle="dropdown" type="button">
                                        PANEL
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        {% if current_user.admin == True or current_user.author == True %}
                                        <li><a href="{{ url_for('post.add_post') }}"><h4>Add Post</h4></a></li>
                                        <li><a href="{{ url_for('post.deleted_posts') }}"><h4>Recover Deleted Posts</h4>
                                        </a>
                                        </li>
                                        {% if newsletter_enabled and current_user.author and authors_allowed or newsletter_enabled and current_user.admin %}
                                        <li><a href="{{ url_for('newsletter.send_newsletter') }}"><h4>Send
                                            Newsletter</h4></a></li>
                                        {% endif %}
                                        {% endif %}
                                        {% if current_user.admin == True %}
                                        <li><a href="{{ url_for('website_settings.menu', mode='admin') }}"><h4>
                                            Settings</h4></a></li>
                                        {% endif %}
                                        {% if current_user.is_authenticated %}
                                        <li><a href="{{ url_for('notifications.notifications') }}"><h4>
                                            Notifications</h4></a>
                                        <li><a href="{{ url_for('user_operations.settings') }}"><h4>Account
                                            Settings</h4></a></li>
                                        <li>
                                            <a href="{{ url_for('user_operations.user_page', user_id=current_user.id) }}">
                                                <h4>My
                                                    Profile</h4></a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                    {% else %}
                                    <div class="dropdown">
                                        <button class="btn btn-primary float-left" data-toggle="dropdown" type="button">
                                            PANEL
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            {% if user_table == 'True' %}
                                            {% if current_view != None %}
                                            <li><a href="{{ url_for('website_settings.user_table') }}"><h4>View All
                                                Users</h4>
                                            </a>{% endif %}
                                                {% if current_view != 'admin' %}
                                            <li>
                                                <a href="{{ url_for('website_settings.user_table', view_filter='admin') }}">
                                                    <h4>View
                                                        Administrators Only</h4></a></li>
                                            {% endif %}
                                            {% if current_view != 'author' %}
                                            <li>
                                                <a href="{{ url_for('website_settings.user_table', view_filter='author') }}">
                                                    <h4>View
                                                        Authors
                                                        Only</h4></a></li>
                                            {% endif %}
                                            {% if current_view != 'registered' %}
                                            <li>
                                                <a href="{{ url_for('website_settings.user_table', view_filter='registered') }}">
                                                    <h4>View
                                                        Registered Users Only</h4></a></li>
                                            {% endif %}
                                            {% if current_view != 'unconfirmed' %}
                                            <li>
                                                <a href="{{ url_for('website_settings.user_table', view_filter='unconfirmed') }}">
                                                    <h4>
                                                        View
                                                        Unconfirmed Users Only</h4></a>
                                            </li>
                                            {% endif %}
                                            {% if current_view != 'pending' %}
                                            <li>
                                                <a href="{{ url_for('website_settings.user_table', view_filter='pending') }}">
                                                    <h4>View
                                                        Pending Deletion Users Only</h4></a>
                                            </li>
                                            {% endif %}
                                            {% if unconfirmed == True %}
                                            <li><a href="{{ url_for('website_settings.unconfirmed_users_deletion') }}">
                                                <h4>
                                                    Remove unconfirmed users</h4></a>
                                            </li>
                                            {% endif %}
                                            {% endif %}
                                            {% if logs == 'True' %}
                                            {% if current_view != None %}
                                            <li>
                                                <a href="{{ url_for('website_settings.logs') }}">
                                                    <h4>View All Logs</h4></a>
                                            </li>
                                            {% endif %}
                                            {% if current_view != 'newsletter' %}
                                            <li>
                                                <a href="{{ url_for('website_settings.logs', view_filter='newsletter') }}">
                                                    <h4>View Newsletter Sendout Logs Only</h4></a>
                                            </li>
                                            {% endif %}
                                            {% if current_view != 'configuration' %}
                                            <li>
                                                <a href="{{ url_for('website_settings.logs', view_filter='configuration') }}">
                                                    <h4>View Configuration Logs Only</h4></a>
                                            </li>
                                            {% endif %}
                                            {% endif %}
                                            {% if newsletter_table == 'True' %}
                                            {% if current_view != 'inactive' %}
                                            <li>
                                                <a href="{{ url_for('website_settings.newsletter_subscribers_table', view_filter='inactive') }}">
                                                    <h4>View Unsubscribed Users Only</h4></a>
                                            </li>
                                            {% endif %}
                                            {% if current_view != 'active' %}
                                            <li>
                                                <a href="{{ url_for('website_settings.newsletter_subscribers_table', view_filter='active') }}">
                                                    <h4>View Subscribed Users Only</h4></a>
                                            </li>
                                            {% endif %}
                                            {% if current_view != None %}
                                            <li>
                                                <a href="{{ url_for('website_settings.newsletter_subscribers_table') }}">
                                                    <h4>View All Users</h4></a>
                                            </li>
                                            {% endif %}
                                            {% endif %}
                                        </ul>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% if valid %}
                                        {% if posts_count >= 3 %}
                                        {% set hr_valid = True %}
                                        {% if deleted != "True" and user_table != "True" and settings != "True" and logs
                                        != 'True' and newsletter_table != 'True' %}
                                        <a class="btn btn-primary float-right"
                                           href="{{ url_for('home.home_page', page_id=current_id + 1) }}">NEXT
                                            PAGE
                                            &rarr;</a>
                                        {% else %}
                                        {% if deleted == "True" %}
                                        <a class="btn btn-primary float-right"
                                           href="{{ url_for('post.deleted_posts', page_id=current_id + 1, deleted=True) }}">NEXT
                                            PAGE
                                            &rarr;</a>
                                        {% endif %}
                                        {% if logs == 'True' %}
                                        <a class="btn btn-primary float-right"
                                           href="{{ url_for('website_settings.logs', page_id=current_id + 1, view_filter=current_view) }}">NEXT
                                            PAGE
                                            &rarr;</a>
                                        {% endif %}
                                        {% if user_table == "True" %}
                                        <a class="btn btn-primary float-right"
                                           href="{{ url_for('website_settings.user_table', page_id=current_id + 1, table_page=True, view_filter=current_view) }}">NEXT
                                            PAGE
                                            &rarr;</a>
                                        {% endif %}
                                        {% if newsletter_table == 'True' %}
                                        <a class="btn btn-primary float-right"
                                           href="{{ url_for('website_settings.newsletter_subscribers_table', page_id=current_id + 1, view_filter=current_view) }}">NEXT
                                            PAGE
                                            &rarr;</a>
                                        {% endif %}
                                        {% if settings == 'True' and current_id < 3 %}
                                        {% if mode != 'admin' %}
                                        <a class="btn btn-primary float-right"
                                           href="{{ url_for('user_operations.user_page', page_id=current_id + 1, settings=True, mode=mode) }}">NEXT
                                            PAGE
                                            &rarr;</a>
                                        {% else %}
                                        <a class="btn btn-primary float-right"
                                           href="{{ url_for('website_settings.menu', page_id=current_id + 1, settings=True, mode=mode) }}">NEXT
                                            PAGE
                                            &rarr;</a>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% if current_id > 1 %}
                                        {% set hr_valid = True %}
                                        {% if deleted != "True" and user_table != "True" and settings != "True" and logs
                                        != "True" and newsletter_table != 'True' %}
                                        <a class="btn btn-primary float-left"
                                           href="{{ url_for('home.home_page', page_id=current_id - 1) }}">&larr;
                                            PREVIOUS PAGE</a>
                                        {% else %}
                                        {% if deleted == "True" %}
                                        <a class="btn btn-primary float-left"
                                           href="{{ url_for('post.deleted_posts', page_id=current_id - 1, deleted=True) }}">&larr;
                                            PREVIOUS PAGE</a>
                                        {% endif %}
                                        {% if user_table == "True" %}
                                        <a class="btn btn-primary float-left"
                                           href="{{ url_for('website_settings.user_table', page_id=current_id - 1, table_page=True, view_filter=current_view) }}">&larr;
                                            PREVIOUS PAGE</a>
                                        {% endif %}
                                        {% if logs == 'True' %}
                                        <a class="btn btn-primary float-left"
                                           href="{{ url_for('website_settings.logs', page_id=current_id - 1, view_filter=current_view) }}">&larr;
                                            PREVIOUS PAGE</a>
                                        {% endif %}
                                        {% if newsletter_table == 'True' %}
                                        <a class="btn btn-primary float-left"
                                           href="{{ url_for('website_settings.newsletter_subscribers_table', page_id=current_id - 1, view_filter=current_view) }}">&larr;
                                            PREVIOUS PAGE</a>
                                        {% endif %}
                                        {% if settings == "True" %}
                                        {% if mode != 'admin' %}
                                        <a class="btn btn-primary float-left"
                                           href="{{ url_for('user_operations.settings', page_id=current_id - 1, settings=True, mode=mode) }}">&larr;
                                            PREVIOUS PAGE</a>
                                        {% else %}
                                        <a class="btn btn-primary float-left"
                                           href="{{ url_for('website_settings.menu', page_id=current_id - 1, settings=True, mode=mode) }}">&larr;
                                            PREVIOUS PAGE</a>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if settings == "True" and mode != 'admin' %}
                        {% set hr_valid = False %}
                        {% endif %}
                        {% if hr_valid %}
                        <hr>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}