{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url({{ background_image }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1 style="color: {{navbar}}">Search</h1>
                    <span class="subheading" style="color: {{navbar}}">Perform a website-wide search.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto content" style="line-height: 2.5;">
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert" style="margin-bottom: 50px;">
                <center>
                    <strong>{{ message }}</strong>
                </center>
            </div>
            {% endfor %}
            {% endwith %}
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
    <hr style="margin: 35px 0 20px 0;">
</div>

{% include "footer.html" %}
{% endblock %}